<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brentandjody.stenoime"
    android:versionCode="19"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

     <!--WRITE permission is only required for tests.  Disable it otherwise. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application android:allowBackup="true"
        android:name=".StenoApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <!-- Declares the input method service -->
        <service android:name=".StenoIME"
            android:label="@string/app_title"
            android:configChanges="keyboardHidden|keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <!-- user settings. -->
        <activity android:name=".SettingsActivity" android:label="@string/settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SelectDictionaryActivity"
            android:theme="@style/SettingsTheme"/>
        <activity android:name=".AboutActivity"
            android:theme="@style/SettingsTheme"/>
    </application>

</manifest>
